
<%- include ('./layout.ejs') %>

<div class="app">
    <div class="home">
        <div class="intro-header">
            <h2>Hello! Welcome to Youtube-Api-Task App</h2>
        </div>
        <div>
            <a href="/dashboard">Click here</a>
        </div>
    </div>
</div>