* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: lighter;
  }
  
  a {
    color: rgb(0, 140, 255);
    text-decoration: none;
  }
  
  .app {
    padding: 25px;
    min-height: 100vh;
    background: rgb(252, 239, 237);
  }
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
  }

  body{
      padding: 10px;
  }

  h1{
      margin: 10px 0;
  }

  a{
      margin-right: 15px;
      color: blue;
  }

  .selectedLink{
      color: red;
  }

  .break{
      margin: 50px 0;
  }

  a:link,a:visited,a:hover,a:active{
      text-decoration: none;
  }
  
  .home {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .intro-header {
    text-align: center;
  }
  
    .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    }

    .content-table th,
    .content-table td {
    padding: 12px 15px;
    }

    .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    }

    .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    }